.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 90vh;
    margin: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 5px 3px 3px #636161;
}
  
.menuTitle {
    font-size: 40px;
    margin: 20px;
    color: #022438;
    line-height: 40px;
}
  
.menuBtn {
    width: 200px;
    min-height: 40px;
    height: auto;
    background-color: #045380;
    border-radius: 10px;
    box-shadow: 10px 6px 6px #636161;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: #EFEFEF;
    font-size: 25px;
    cursor: pointer;
    border: 0;
    border-bottom: 5px solid var(--hover);
}
  
.menuBtn:hover {
    box-shadow: 5px 3px 3px #636161;
}

.brBtn {
    background-color: var(--brazil);
    border-bottom: 5px solid var(--brazil-dark);
}

@media (max-width: 1080px) {
    .menuBtn {
        width: 150px;
    }

    .menuTitle {
        font-size: 25px;
    }
}

@media (max-width: 720px) {
    .menu {
        display: none;
    }  
}
