.card {
    min-width: 50px;
    min-height: 80px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 5px 3px 3px #636161;
    color: var(--hover);
    border: 3px solid #fff;
  }
  
  .card:hover {
    box-shadow: 10px 6px 6px #636161;
  }

  .title {
    text-align: left;
    font-size: 20px;
  }

  .info {
    font-size: 30px;
    font-weight: bold;
  }
