.card {
    min-width: 50px;
    width: auto;
    min-height: 50px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 3px 3px #636161;
    color: black;
}

.card:hover {
    box-shadow: 10px 6px 6px #636161;

}