@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

h1 {
  font-size: 60px;
  color: black;
  text-transform: uppercase;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  width: 80vw;
}

.source {
  text-align: right;
}


