@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #0677B8;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataDiv {
  margin-top: 80px;
}

h1 {
  font-size: 60px;
  color: black;
  text-transform: uppercase;
}

.cards-container {
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.part {
  display: flex;
  margin: 20px;
}



