@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --background: #0677B8;
  --title: #022438;
  --hover: #023a59;
  --button: #045380;
  --white: #EFEFEF;
  --brazil: #36800A;
  --brazil-dark: #255527;
}

body {
  background-color: var(--background);
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 80px;
}

.homeBtn {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: 0;
  margin: 10px;
  font-size: 20px;
  border-bottom: 5px solid var(--hover);
  cursor: pointer;
  background-color: var(--button);
}

.homeBtn:hover {
  background-color: var(--hover);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataDiv {
  margin-top: 100px;
}

h1 {
  font-size: 60px;
  color: var(--title);
}

.cards-container {
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.part {
  display: flex;
  margin: 20px;
}

@media (max-width: 720px) {
  .dataDiv h1 {
    font-size: 50px;
  }
}

@media (max-width: 520px) {
  .dataDiv {
    margin-top: 50px;
  }

  .cards-container {
    margin-top: 50px;
    height: auto;
  }

  .part {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .home h1 {
    font-size: 50px;
  }
}


